#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;

}

input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.TodoApp {
  background-color: rgb(95, 93, 91);
  height: 60vh;
  width: 60vh;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
  overflow: hidden; 
}

ul {
  margin: 0;
  padding: 0;

  overflow-x: auto; 
  overflow-y: auto;
  flex-grow: 1; 
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 5px;
  border: 2px solid rgb(102, 122, 122);
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1); 
  color: rgb(18, 23, 19);
}

#remove {
  background-color: rgb(185, 95, 95);
  /* height: 30px;
  width: 30px; */
  border-radius: 10px;
  color: black;
  margin: 10px;
  position: relative;
}
#progress {
  background-color: rgb(95, 93, 91);
  /* height: 30px;
  width: 30px; */
  border-radius: 10px;
  color: rgb(58, 200, 87);
  margin: 10px;
  position: relative;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#add {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 13px ;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.pending {
  background-color: rgb(157, 157, 113);
}

.in-progress {
  background-color: rgb(133, 139, 80);
}

.done {
  background-color: rgb(72, 113, 72);
}

select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}